@import '../../styles/partials/variables';
@import '../../styles/partials/fonts';

body {
    font-family: 'Avenir';
    font-weight: 400;
}

.container-nav{
    @include mobile{
        display: flex;
    }
    
    @include desktop{
        position: absolute;
        top: 53rem;
        left: 98rem;
        border-left: 2px solid $silver;
    }
}

.selectedVideoImage{
    width: 250px;
    height: 150px;
    border-radius: 4px;

    @include desktop{
        position: relative;
        left: 1rem;
    }
}

.videoChannel{
    @include mobile{
        position: relative;
        bottom: 1.5rem;
    }

    @include tablet{
        margin-left: 3rem;
    }
}

.videoChannelInNav {
    @include mobile{
        position: relative;
        bottom: 1rem;
        left: 1rem;
    }

    @include tablet{
        position: relative;
        left: 3rem;
    }

    @include desktop{
        position: relative;
        bottom: 10.5rem;
        left: 15rem;
    }
}

.video-list{
    &__item{
        list-style-type: none;

        &--container{
            @include mobile{
                display: flex;
                width: 100vw;
                position: relative;
                padding-bottom: 1rem;
                right: 5rem;
                padding-top: 1rem;
            }
    
            @include tablet{
                display: flex;
                width: 100vw;
                position: relative;
                bottom: 7.2rem;
                padding-bottom: 1rem;
            }
        }
    } 
}

a {
    text-decoration: none;
    color: $BrainFlix-DarkBlack;
}

p.videoTitle{
    @include mobile{
        margin-left: 1rem;
    }

    @include desktop{
        position: relative;
        bottom: 10rem;
        left: 5rem;
    }
}

.next-videos{
    @include mobile{
        position: relative;
        bottom: 3.5rem;
        width: 200%;
        left: 3rem;
        color: $mercury;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: $mercury;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    @include tablet{
        position: relative;
        bottom: 7.5rem;
        width: 200%;
        left: 3rem;
        color: $mercury;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: $mercury;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    @include desktop{
        position: relative;
        top: 4rem;
        padding-bottom: 5rem;
        left: 3rem;
        color: $mercury;
    }
}


